/*-- scss:defaults --*/

$bot-darkgreen: #20603D;
$bot-black: #1D1E33;
$bot-blue: #2271B3;
$bot-grey: #F1F3F6;
$bot-green: #008F39;


/*-- scss:rules --*/



.shift-block {
  height: 170px;
}
.navbar-container {
  height: auto;
  padding-left: 120px;
  padding-right: 120px;
}

.navbar-brand-container {
  height:auto;
}

.navbar-logo {
 width: 120px;
 max-height: 300px;
}

.quarto-navbar-tools {
  font-size: 24px;
  padding-left: 20px;
  padding-right: 20px;
}

.ms-auto {
    .nav-item {
  margin-right: 40px;
  border: 4px solid $bot-green;
  background-color: $bot-green;
  border-radius: 30px 0px 30px 0px;
  color: $bot-black !important;
  box-shadow: 7px 8px 8px 0px $bot-darkgreen;
}
}

.menu-text {
  font-size: 1.25em;
}

.column.margin p {
  font-size: 1em !important;
}


.dropdown-menu {
  background-color: transparent;
  border: 0px;
}

.dropdown-item {
  font-size: 1.25em;
  color: $bot-black;
  background-color: white;
  border-radius: 100px;
  border: 1px solid $bot-black;
  margin-bottom: 2.5pt;

  &:hover {
  color: white;
  background-color: $bot-green;
  border: 1px solid $bot-green;
}
  &:active {
  background-color: $bot-blue;
  border: 1px solid $bot-blue;
}

}

summary {
  color: $bot-black !important;
}


@media (max-width:800px) {

.navbar-container {
  padding: 0px;
}

.navbar-brand-container {
  width: 400px;
}
.navbar-brand {
  width: 400px;
}
.navbar-brand-logo {
  width: 80px !important;
}
.navbar-logo {
 width: 100%;
}
.navbar-title {
    visibility: hidden;
    position: relative;
  &:after {
    visibility: visible;
    position: absolute;
    top: 10px;
    left: 0;
    content: "Ja zum Nachtzug";
    width: auto;
  }
}

  
.quarto-navbar-tools {
  display: none;
}

#quarto-search {
  margin: 1px !important;
}

.ms-auto {
    .nav-item {
  margin-right: 0px;
  border: 2px solid $bot-green;
  box-shadow: none;
}
}



}



